numpy
scipy
tqdm
pillow
opencv-python
cython
jupyter
notebook
pandas
matplotlib
xmltodict

mxnet-cu90
gluoncv

git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

pascal-voc-writer