numpy
scipy
scikit-learn
scikit-image

pandas
cython
tqdm

pillow==8.2.0
opencv-python

torch==1.0.0
torchvision==0.2


git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

jupyter 
notebook

dicttoxml
xmltodict