numpy
scipy
tqdm
dicttoxml
xmltodict

jupyter
notebook
pandas
matplotlib
pillow

mxnet-cu100
cython

opencv-python 
matplotlib 
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
