numpy
scipy
tqdm
pillow==6.0.0
opencv-python
cython
jupyter
notebook
pandas
matplotlib
xmltodict

torch
torchvision

git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

