numpy
opencv-python
torch==1.4
torchvision
matplotlib
pycocotools
tqdm
Pillow

tensorboard

jupyter
notebook
dicttoxml
xmltodict

git+https://github.com/NVIDIA/apex.git#egg=apex
pandas
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
