numpy
scipy
scikit-learn

pandas
cython
tqdm

pillow==8.1.1
opencv-python

torchvision==0.5
torch==1.4
efficientnet_pytorch==0.6.3


tensorboardX
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

jupyter 
notebook

dicttoxml
xmltodict
