opencv-python
Cython
matplotlib
numpy
scipy
pyyaml
EasyDict
protobuf
argparse
scikit-image
tqdm
git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

jupyter 
notebook

dicttoxml
xmltodict
tensorflow==1.13
keras==2.2.4
segmentation-models
albumentations>=0.3.0